*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f6fa;
    font-family:"Roboto", sans-serif;
}
header h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
}
header{
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 16px 0;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #f5f6fa;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li{
    display: inline;
    margin-right: 16px;
    font-weight: 400;
    font-size: 20px;
}
header nav li a{
    text-decoration: none;
    color: #f5f6fa;
    font-family: "League Spartan", sans-serif;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    padding-bottom: 16px;
    
}
header nav li a:hover{
    transition: all 0.3s;
    border-color: #f5f6fa;
}
header button{
    padding: 8px 12px;
    border: 1px solid #f5f6fa;
    color: #f5f6fa;
    cursor: pointer;
    border-radius: 8px;
    font-size: 24px;
    background-color: transparent;
    font-family: "League Spartan", sans-serif;
    transition: all 0.3s;
}
header button:hover{
    background-color: #f5f6fa;
    color: #2f3640;
    transition: all 0.3s;
}
#about{
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 24px 0;
}
#about .container{
    display: block;
}
#about h3, .product h3{
    font-size: 32px;
    margin-bottom: 24px;
    color: #f5f6fa;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    display: flex;
    align-items: center;
}
.border-left{
    padding-left: 24px;
    border-left: 1px solid #f5f6fa;
}
.parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f5f6fa;
    text-align: center;
    position: relative;
    background-image: url("./img/hero.jpg");
}
.parallax h2, .offer .container h2{
    font-size: 64px;
}
.parallax p, .offer .container p{
    font-size: 24px;
}
.parallax .container{
    max-width: 1024px;
    z-index: 1;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    background-color:black;
    width: 100%;
    height: 100%;
    opacity: 40%;
}
.offer{
    position: relative;
    height: 100vh;
    background-image: url("./img/bitcoin_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.offer .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.offer .container div{
    z-index: 1;
    color: #f5f6fa;
}
.offer .container img{
    height: 480px;
}
.offer .container h2, .exchange-text h2{
    margin-bottom: 32px;
}
.offer .container p{
    font-style: italic;
    font-size: 32px;
    margin-bottom: 16px;
}
.purchase-btn{
    padding: 16px 24px;
    margin-top: 16px;
    font-family:"Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #3fcd2a;
    color: #f5f6fa;
    cursor: pointer;
    transition: all 0.3s;
}
.purchase-btn:hover{
    transition: all 0.3s;
    color: #dcdde1;
    background-color: #36a026;
}

.product{
    background-color: #2f3640;
    padding: 24px 0;
}
.content-dogecoin img{
    height: 240px;
}
.content-dogecoin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f5f6fa;
}
.content-dogecoin h4{
    margin-bottom: 16px;
    font-size: 24px;
}
.content-dogecoin button{
    padding: 16px 32px;
    width: 100%;
    font-size: 24px;
    border: none;
    font-weight: bold;
    font-family:"Roboto", sans-serif;
    cursor: pointer;
    border-radius: 8px;
    color: #f5f6fa;
    background-color: transparent;
    border: 1px solid #f5f6fa;
    transition: all 0.3s;
}
.content-dogecoin button:hover{
    color: #2f3640;
    background-color: #f5f6fa;
    transition: all 0.3s;
}
.content-dogecoin-text{
    width: 700px
}

#exchange{
    background-image: url("./img/ethereum_background.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#exchange .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#exchange .container div{
    z-index: 1;
}
.exchange-text h2{
    font-size: 64px;
}
.exchange-text{
    width: 600px;
}
.exchange-text p{
    font-size: 24px;
    margin-bottom: 8px;
}

#contact{
    padding: 24px;
    background-color: #2f3640;
}
.social{
    width: 500px;
}
.social-text h3{
    margin-bottom: 8px;
    font-size: 32px;
}
.social-text p{
    margin-bottom: 16px;
}
.social-links h4{
    margin-bottom: 8px;
    margin-top: 8px;
}
.social-links li{
    display: inline;
    margin-left: 8px;
}
.social-links img{
    transform: scale(1);
    transition: ease all 0.3s;
}
.social-links img:hover{
    transform: scale(1.3);
}
#contact .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    padding: 8px 8px;
    width: 328px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.form input:focus{
    outline-color: #2f3640;
}
.form label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    cursor: pointer;
}
.form button{
    padding: 12px 0;
    border-radius: 8px;
    background-color: transparent;
    color: #f5f6fa;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #f5f6fa;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
}
.form button:hover{
    background-color: #f5f6fa;
    color: #2f3640;
}
.form h3{
    font-size: 24px;
    margin-bottom: 18px;
}
footer{
    padding: 24px 0;
    background-color: #262b33;
    text-align: center;
}